html {
  --app-background: #eceeee;
  --element-background: #fff;
  --primary-color: #d9b579;
  --blue-accent-color: #0b7cac;
  --text-color: #272829;
  --text-2-color: #7f7f80;
  --text-blind-color: #b1b1b2;
  --link-color: #1e73be;
  --text-contrast-color: #fff;
  --divider-color: #d9d7d7;
  --error-color: #ff101f;
}
