h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.25;
  margin: 0 0 0.5em;
}

h1, .text-h1 {
  font-size: 2rem;
}

h2, .text-h2 {
  font-size: 1.6rem;
}

h3, .text-h3 {
  font-size: 1.3rem;
}

h4, .text-h4 {
  font-size: 1.3rem;
}

// --------------------
// Paragraphs & text
// --------------------

p, .text {
  margin: 0;
}
