@use 'normalize.css/normalize.css';
@use 'base/colors.scss';

body {
  font-family: Lora, system-ui, -apple-system, BlinkMacSystemFont;
  background-color: var(--app-background);

  font-size: 1rem;
  line-height: 1.6;
  color: var(--text-color);
}
