@use 'normalize.css/normalize.css';
@use 'base/colors.scss';

body {
  font-family: Lora, system-ui, -apple-system, BlinkMacSystemFont;
  background-color: var(--app-background);

  font-size: 1rem;
  line-height: 1.6;
  color: var(--text-color);
}

.dev-text {
  color: var(--blue-accent-color);
  padding: 4px 8px;
  border: 1px solid var(--blue-accent-color);
  margin: 20px 0;
}
