@use 'normalize.css/normalize.css';
@use 'base/colors.scss';

body {
  font-family: Lora, system-ui, -apple-system, BlinkMacSystemFont;
  background-color: var(--app-background);

  font-size: 1rem;
  line-height: 1.6;
  color: var(--text-color);
}

.gold-boat-img {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  img {
    width: 120px;
    height: 120px;
    object-fit: contain;
  }

  @media (max-width: 768px) {
    margin-bottom: unset;

    img {
      width: 120px;
      height: 120px;
      object-fit: contain;
    }
  }
}

.container {
  max-width: 720px;
  margin: 0 auto;
}

.title {
  margin-top: 20px;
  text-align: center;

  @media (max-width: 768px) {
    margin-top: 10px;
  }
}

.dev-text {
  padding: 4px 8px;
  border: 1px solid var(--blue-accent-color);
  margin: 20px 0;
  width: fit-content;

  span {
    color: var(--blue-accent-color);
  }
}
